body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('URL_DE_VOTRE_IMAGE_DE_FOND');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-page {
    text-align: center;
  }
  
  .login-container {
    background-color: #7289DA;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
  }
  
  h1 {
    color: #fff;
  }
  
  .discord-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #7289DA;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px auto;
  }
  
  .discord-button img {
    width: 100px;
    height: 100px;
  }
  