header {
    background-color: #fff; /* Fond blanc */
    padding: 20px;
    color: #6a0dad; /* Couleur du texte violet profond */
    background: #00c5e7;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #6a0dad; /* Couleur du texte violet profond */
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #337099; /* Couleur du texte au survol en bleu */
}

.connexion {
    margin-right: 0;
    display: flex;
    justify-content: center;
}

.connexion button {
    background-color: #fff;
    border: none;
    color: #6a0dad;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.connexion button:hover {
    background-color: #6a0dad;
    color: #fff;
}

.connexion button i {
    margin-right: 0;
}
.banniere {
    background-color: #c0392b; /* Couleur de fond de la bannière */
    color: white; /* Couleur du texte */
    padding: 1px; /* Espace intérieur autour du texte */
}

footer {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 14px;
    background-color: #eee; /* Couleur de fond grise claire */
    color: #000; /* Couleur du texte en noir */
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: #fff; /* Fond blanc */
    color: #000; /* Couleur du texte en noir */
}

.ligne_maintenance {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #000; /* Couleur du texte en noir */
}

/* Style pour la section des actualités */
section {
    background-color: #f9f9f9; /* Couleur de fond gris clair */
    padding: 20px;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    text-align: left;
    margin-top: 20px;
}

section h2 {
    font-size: 24px;
    color: #333; /* Couleur du titre */
}

section ul {
    list-style-type: disc; /* Puces */
    margin-left: 20px;
    font-size: 18px;
    color: #555; /* Couleur du texte des actualités */
}

section ul li {
    margin: 10px 0;
}

/* Au survol, changez la couleur des éléments de la liste */
section ul li:hover {
    color: #0077b6; /* Couleur de survol */
    cursor: pointer; /* Curseur de la main */
}

#devlog-button {
    display: inline-block;
    padding: 10px 20px; /* Marge interne du bouton */
    border-radius: 17px; /* Coins arrondis */
    color: #fff; /* Couleur du texte en blanc */
    background-color: #0074D9; /* Couleur de fond en état normal (bleu) */
    font-weight: bold;
    margin-top: 10px;
}

/* Style pour le bouton en état survolé (violet) */
#devlog-button:hover {
    background-color: #c812d8; /* Couleur de fond en état survolé (violet) */
    cursor: pointer;
}

/* Style pour le bouton en état actif (vert) */
#devlog-button:active {
    background-color: #2ECC40; /* Couleur de fond en état actif (vert) */
    cursor: pointer;
}

