/* Reset des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #222;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    filter: brightness(1.5) contrast(1.5);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0074cc;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00a5ff;
}

#message {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

